body {
	overflow: hidden;
	height: 100%;
}
a {
	text-decoration: none;
}
.ui-header .ui-title {
	font-weight: 100;
}
#map{
	position: absolute;
	top: 42px;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-panel-content-wrap{
	min-height: 100%!important;
	height: 100%!important;
}
.ui-mobile .ui-page {
	min-height: 100%!important;
	height: 100%!important;
}

.ui-page-active.ui-page-panel {
	overflow-x: visible!important;
}
form {
	margin: 30px 0;
}

.open-panel {
	position: relative;
	top: -13px;
	left: 30px;
	
}
.open-panel .ui-btn-text {
	font-weight: 100;
}
#mypanel{
	overflow: scroll;
}

.leaflet-marker-icon {
	border-radius: 1px;
}

.my-div-icon {
	background-color: #7AA6D5;
	border-radius: 30px;
	animation: dotPulse 2000ms linear 0ms infinite;
	-moz-animation: dotPulse 2000ms linear 0ms infinite;
	-webkit-animation: dotPulse 2000ms linear 0ms infinite;
}

@-webkit-keyframes dotPulse {
  0%   { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,1) 0px 0px 0px 3px; }
  100% { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,0) 0px 0px 0px 18px; }
}
@-moz-keyframes dotPulse {
  0%   { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,1) 0px 0px 0px 3px; }
  100% { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,0) 0px 0px 0px 18px; }
}
keyframes dotPulse {
  0%   { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,1) 0px 0px 0px 3px; }
  100% { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,0) 0px 0px 0px 18px; }
}

.video-icon{
	color: #FFF;
	float: right;
	text-indent: -8px;
	background-color: rgba(133, 133, 133, 0.37);
	padding: 14px;
	line-height: 13px;
}

.profile {
	float: left;
	/*border-radius: 60px;*/
	margin: 0 5px 0 0;
}

#heart {
	color: #EBA994;
}

.leaflet-popup-content .top-text p {
	margin: 0;
	padding: 0;
}

.leaflet-popup-content .top-text a{
	float: left;
}

.bottom-text p,
.bottom-text h3{
	margin: 5px 0!important;
}
.bottom-text p {
	float: right;
	padding: 0 0 1px 1px;
	position: relative;
	bottom:3px;
}

.leaflet-popup-content .top-text a p{
	margin: 0 0 5px 0;
	width: 81px;
}
.leaflet-popup-content .top-text .pull-right {
	text-align: right;
	width: 192px;
}

.leaflet-popup-content {
	background: #F3F3F3;
	padding: 9px;
	margin: 9px!important;
}

.locator a {
	background-color: #FFF;
	border: 1px solid #CCC;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #000;
	-webkit-radius: 2px;
	border-radius: 2px;
}
.locator a:hover{
	background-color: #F4F4F4;
}

.locator img {
	position: relative;
	top: 2px;
	right: 1px;
}

.loading h1{
	position: relative;
	right: 37px;
	bottom: 37px;
	opacity: .8;
}

.ui-field-contain label.ui-slider {
	width: 35%!important;
}

.cluster-image {
	height: 75px!important;
	width: 75px!important;
	font-size: 0;
}

.cluster-image img {
	width: 25px;
	height: 25px;
	float: left;
	opacity: .3;
}

.cluster-image img:hover{
	opacity: 1;
}