body {
	overflow: hidden;
	height: 100%;
}
a {
	text-decoration: none;
}
.ui-header .ui-title {
	font-weight: 100;
	color:#505050;
}
#map{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}
.ui-panel-content-wrap{
	min-height: 100%!important;
	height: 100%!important;
}
.ui-mobile .ui-page {
	min-height: 100%!important;
	height: 100%!important;
}

.ui-page-active.ui-page-panel {
	overflow-x: visible!important;
}
form {
	margin: 30px 0;
}

.open-panel {
	position: relative;
	top: -13px;
	left: 30px;
	
}
.open-panel .ui-btn-text,
.ui-btn-text {
	font-weight: 100;
}
#mypanel{
	overflow: scroll;
	height: 100%;
}

.leaflet-marker-icon {
	border-radius: 1px;
}

.my-div-icon {
	background-color: #7AA6D5;
	border-radius: 30px;
	animation: dotPulse 2000ms 0ms infinite;
	-moz-animation: dotPulse 2000ms 0ms infinite;
	-webkit-animation: dotPulse 2000ms 0ms infinite;
}

@-webkit-keyframes dotPulse {
  0%   { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,1) 0px 0px 0px 3px; }
  100% { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,0) 0px 0px 0px 18px; }
}
@-moz-keyframes dotPulse {
  0%   { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,1) 0px 0px 0px 3px; }
  100% { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,0) 0px 0px 0px 18px; }
}
keyframes dotPulse {
  0%   { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,1) 0px 0px 0px 3px; }
  100% { box-shadow:white 0px 0px 0px 2px, rgba(255,255,255,0) 0px 0px 0px 18px; }
}

.video-icon{
	color: #FFF;
	float: right;
	text-indent: -8px;
	background-color: rgba(133, 133, 133, 0.37);
	padding: 14px;
	line-height: 13px;
}

.profile {
	float: left;
	/*border-radius: 60px;*/
	margin: 0 5px 0 0;
}

.heart {
	color: #EBA994;
}

.top-text {
	height: 59px;
	position: relative;
}

.bottom-text {
	position: relative;
	height: 273px;
}

.bottom-text p {
	position: absolute;
	padding: 8px 9px;
	margin: 0;
	bottom: 0;
	line-height: 12px;
	background: #C4C4C4;
	color: rgba(112, 112, 112, 0.96);
	opacity: .3;
	height: 20px;
	overflow: scroll;
	width: 255px;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.bottom-text p:hover {
	background: #EBEBEB;
	color: #585858;
	opacity: .75;
}

.bottom-text img {
	float: left;
}
.leaflet-popup-content .top-text p {
	margin: 0;
	padding: 0;
}

.leaflet-popup-content .top-text a{
	float: left;
}

.bottom-text h3{
	margin: 5px 0!important;
}

.leaflet-popup-content .top-text a p{
	margin: 0;
	width: 81px;
}
.leaflet-popup-content .top-text .pull-right {
	text-align: right;
	width: 192px;
}

.leaflet-popup-content {
	background: #F3F3F3;
	padding: 9px;
	margin: 9px!important;
}

.locator a,
.trashcan a {
	background-color: #FFF;
	border: 1px solid #CCC;
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #000;
	-webkit-radius: 2px;
	border-radius: 2px;
}
.locator a:hover,
.trashcan a:hover{
	background-color: #F4F4F4;
}

.locator img,
.trashcan img {
	position: relative;
	top: 2px;
	right: 1px;
}

.loading h1{
	position: relative;
	right: 37px;
	bottom: 37px;
	opacity: .8;
}

.ui-field-contain label.ui-slider {
	width: 35%!important;
}

.cluster-image {
	height: 75px!important;
	width: 75px!important;
	font-size: 0;
}

.cluster-image img {
	width: 25px;
	height: 25px;
	float: left;
	opacity: .3;
}

.cluster-image img:hover{
	opacity: 1;
}

.ui-bar-c {
	background: rgba(255, 255, 255, 0.87)!important;
	border: 1px solid rgba(252, 252, 252, 0)!important;
}

.ui-body-c {
	background: none!important
}

.ui-btn-up-c {
	border: 1px solid #EBEBEB!important;
}

.ui-header .ui-btn-left, .ui-header .ui-btn-right, .ui-footer .ui-btn-left, .ui-footer .ui-btn-right, .ui-header-fixed.ui-fixed-hidden .ui-btn-left, .ui-header-fixed.ui-fixed-hidden .ui-btn-right {
	position: absolute;
	top: 5px!important;
}

.leaflet-top .leaflet-control {
	position: relative;
	top: 44px;
}

.leaflet-container a{
	color: #7FA4B3;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	color:black!important;
}

.leaflet-container {
	color:#696969;
}

#map-ui {
    position: absolute;
    top: 75px;
    left: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

#map-ui a {
    font: normal 13px/18px 'Helvetica Neue', Helvetica, sans-serif;
    background: #FFF;
    color: #3C4E5A;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #BBB;
    border-bottom-width: 0;
    min-width: 138px;
    padding: 10px;
    text-decoration: none;
}

#map-ui a:hover {
    background: #ECF5FA;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui a.active {
    background: #3887BE;
    border-color: #3887BE;
    border-top-color: #FFF;
    color: #FFF;
}

.leaflet-control-mapbox-geocoder.leaflet-control {
	position: relative;
	top: 13px;
}

.leaflet-control .mapbox-button {
	border-radius: 2px;
	font-weight: lighter;
}

.leaflet-control-mapbox-geocoder input[type=text] {
	border: 1px solid #BBB;
	background: rgba(255, 255, 255, 0.14);
}
.leaflet-control-mapbox-geocoder-form:hover .leaflet-control-mapbox-geocoder input[type=text] {
	border: 1px solid #BBB;
	background: rgba(255, 255, 255, 1);
}

.leaflet-control-mapbox-geocoder.leaflet-control {
	position: absolute;
	top: 185px;
}

.ui-corner-all > .ui-header:last-child, .ui-corner-all > .ui-content:last-child, .ui-corner-all > .ui-footer:last-child {
	background: #FFF;
	z-index: 100000;
}
.ui-dialog-contain {
	top:-80px;
}
.ui-dialog-contain {
	display: none;
}
