.marker-cluster-small div {
	background-color: rgba(255, 255, 255, 0.6);
	}

.marker-cluster-medium div {
	background-color: rgba(255, 255, 255, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(216, 153, 153, 0.6)
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}