body {
	margin: 0px;
	padding: 0px;
}
#header{
	font-family: helvetica;
	position: absolute;
	right:0%;
	top:0%;
	z-index: 100;
	background-color: white;
	 opacity: 0.5;
        -moz-opacity: 0.5;
        filter:alpha(opacity=5);
	padding: 0px;
	margin: 0px;
	text-align: center;
	width: 300px;	
}
.tooltip {
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:black;
    z-index: 100;
    background-color: :white;
}
.zoom-out {
   position: absolute;
   top: 80px;
   font-size: 8;
   left: 13px;
   z-index: 20;
   font-family:helvetica;
   border-radius:3px;
   padding:3px;
    background: #ddd;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=5);
    cursor: pointer;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top:0px;
}

.leaflet-popup-content-wrapper {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.leaflet-popup-content-wrapper {
	width:172px;
}

.leaflet-popup-close-button {
	top:5px;
}


.leaflet-popup-content p {
	margin: 0px;
	text-align: center;
	font-size: 13;
}
.leaflet-popup-content {
	margin: 7px 10px;
	margin-bottom:5px;
}
#instagram-caption{
	font-style: oblique;
}
#instagram-profile{
	position: relative;
	margin-bottom:1px;
}

#instagram-photo {
	width:150px;
	height:150px;
}

#timeago{
	text-align: right;
	font-size: 10px;
}

#instagram-username{
	text-align: right;
	font-size: 10px;
}
#instagram-likes{
	text-align: right;
	font-size: 10px;
}
#info {
	margin-bottom: -40px;
	text-align: right;
	padding-top: 5px;
}

#instagram-profile img {
    margin-bottom: 1px;
    max-height: 42px;
    max-width: 42px;
    position: relative;
}

#twitter {
	text-align: right;
}

@media (max-device-width: 480px) {
	#header {
	display: none; 
	}
}