body {
	margin: 0px;
	padding: 0px;
}
#header{
	font-family: helvetica;
	position: absolute;
	left:0%;
	top:0%;
	z-index: 100;
	background-color: white;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	padding: 0px;
	margin: 0px;
	text-align: center;
	width: 226px;
	line-height: 13px;
	height: 137px;	
}

a {
  color:#0000FF;
  text-decoration: none;
}



#social{
	font-family: helvetica;
	position: absolute;
	left:226px;
	top:0%;
	z-index: 100;
	background-color: white;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	padding: 4px;
	margin: 0px;
	width: 80px;
	line-height: 26px;
	height:81px;
}

.tooltip {
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:black;
    z-index: 100;
    background-color: :white;
}
.zoom-out {
	position: absolute;
	top: 80px;
	font-size: 8;
	left: 13px;
	z-index: 20;
	font-family:helvetica;
	border-radius:3px;
	padding:3px;
	background: #ddd;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
	cursor: pointer;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  top:0px;
}

.leaflet-left .leaflet-control {
margin-left: 10px;
position: absolute;
right: 16px;
}

.leaflet-popup-content-wrapper {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.leaflet-popup-content-wrapper {
	width:172px;
}

.leaflet-popup-close-button {
	top:5px;
}

.leaflet-left{
	right:0px;
}


.leaflet-top{
	position: absolute;
	right:0px;
}


.leaflet-popup-content p {
	margin: 0px;
	text-align: center;
	font-size: 13;
}
.leaflet-popup-content {
	margin: 7px 10px;
	margin-bottom:5px;
}
.leaflet-popup-content h3 {
	margin: 7px 10px;
	margin-bottom:5px;
	text-align: center;
}
#instagram-caption{
	font-style: oblique;
}
#instagram-profile{
	position: relative;
	margin-bottom:1px;
}
#instagram-profile img{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

#instagram-photo {
	width:150px;
	height:150px;
}

#timeago{
	text-align: right;

}

#instagram-username{
	text-align: right;

}
#instagram-likes{
	text-align: right;
}
#instagram-likes span {
	color:red;

}

.leaflet-popup-close-button{
	top:12px;
}
#info {
	margin-bottom: -50px;
	text-align: right;
	padding-top: 8px;
	position: relative;
	top: 15px;
	font-size: 10px;
}

#instagram-profile img {
    margin-bottom: 1px;
    max-height: 42px;
    max-width: 42px;
    position: relative;
}

#twitter {
	text-align: left;
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=3);
}

#twitter:hover {
	text-align: left;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
}



.otherplace{
	position: relative;
	top: 170px;
	font-size: 12px;
	left: 0px;
	z-index: 20;
	font-family:helvetica;
	padding:2px;
	background: white;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	cursor: pointer;
	margin: 10px;
    vertical-align:middle;
    display:inline;
  }

.otherplace:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.show_hide{
	position: absolute;
	top: 137px;
	text-decoration: none;
	font-size: 15px;
	left: 0%;
	z-index: 20;
	font-family:helvetica;
	padding:6px;
	background: white;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	cursor: pointer;
    vertical-align:middle;
    display:inline;
    text-align: left;

    cursor: pointer;
}
.show_hide:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

#twitter{
	text-align: left;
	width: 10px;
}

.big-link { display:block; text-align: center; font-size: 13px; color: #06f; z-index: 110; padding-top: 12px; text-decoration: none }

#myModal {
	font-family: helvetica;
	text-align: center;
	padding: 0px;
	text-decoration: none;
}

#myModal a{
	text-decoration: none;
}

#myModal h2{
	text-align: right;
	text-decoration: none;
	position: relative;
	top: -53px;
	right:29px;
}

#img1 {
	position: relative;
left: -71px;
top: 37px;
}

#img2 {
	position: relative;
left: 18px;
top: -17px;
}

#plus{
	position: relative;
	top: 143px;
left: -57px;
}
/*
@media (max-device-width: 480px) {
	#header {
	display: none; 
	}
	#social {
	display:none;
	}
	.otherplace{
	display: none;
	}
	.show_hide{
		display: none;
	}

}
*/
.photoIcon {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 4px;	
	-webkit-box-shadow: 1px 0px 5px white;
	-moz-box-shadow:    1px 0px 5px white;
	box-shadow:         1px 0px 5px white;
}

.photoIcon:hover{
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;	
	-webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
    -ms-transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
        transition: all 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
}


.photoIcon:hover {
   z-index: 1000 !important;
   height: 80px !important;
   width: 80px !important;
  margin: -15px;

}




